<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nanthu.goldenratio">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/gdhead"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Guess"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarMainLayout"/>
        <activity
            android:name=".ApplicationsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarMainLayout" />
        <activity
            android:name=".VideoPage"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBarMainLayout" />
        <activity
            android:name=".MainPage"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarMainLayout" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarMainLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>